<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>controller.BookController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InventoryController</servlet-name>
        <servlet-class>controller.InventoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InventoryController</servlet-name>
        <url-pattern>/inventory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookAdminController</servlet-name>
        <servlet-class>controller.BookAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookAdminController</servlet-name>
        <url-pattern>/book-admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SupportAdminController</servlet-name>
        <servlet-class>controller.SupportAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupportAdminController</servlet-name>
        <url-pattern>/support-admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SupportChatController</servlet-name>
        <servlet-class>controller.SupportChatController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupportChatController</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
</web-app>
